<h1>Vuemastery#computed_properties</h1>

<%= link_to nil, 'https://www.vuemastery.com/courses/intro-to-vue-js/computed-properties' %>

<div id="vuemastery-computed-properties" v-cloak>
  <h1>{{ title }}</h1>
  <h1>{{ title }}</h1>
  <h1>{{ nonComputedTitle() }}</h1>
  <h1>{{ nonComputedTitle() }}</h1>
  <p>{{ image }}</p>
  <p v-if="inStock">In Stock</p>
  <p v-else>Out of Stock</p>

  <ul>
    <li v-for="detail in details">{{ detail }}</li>
  </ul>

  <div v-for="(variant, index) in variants"
       :key="variant.variantId"
       class="color-box"
       :style="{backgroundColor: variant.variantColor}"
       @mouseover="updateProduct(index)">
  </div>

  <button v-on:click="addToCart">Add to cart</button>

  <div class="cart">
    <p>Cart ({{cart}})</p>
  </div>
</div>
