<h1>Vuemastery#components</h1>

<%= link_to nil, 'https://www.vuemastery.com/courses/intro-to-vue-js/components' %>

<div id="vuemastery-components" v-cloak>
  <product :premium="premium"></product>
  <!-- <product></product>
  <product></product> -->
</div>
