<h1>Vuemastery#the_vue_instance</h1>
<p>Find me in app/views/vuemastery/the_vue_instance.html.erb</p>

<%= link_to nil, 'https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance' %>

<div id="vuemastery-the-vue-instance" v-cloak>
  <h1>{{ product }}</h1>
</div>
