<h1>Vuecasts#basic_data_binding</h1>
<p>Find me in app/views/vuecasts/basic_data_binding.html.erb</p>

<%= link_to nil, 'https://laracasts.com/series/learn-vue-2-step-by-step/episodes/1' %>

<p></p>

<div id="root">
  <input type="text" id="input" v-model="message">

  <p>The value of the input is: {{ message }}.</p>
</div>
