<h1>Vuecasts#components_101</h1>

<%= link_to nil, 'https://laracasts.com/series/learn-vue-2-step-by-step/episodes/7' %>

<p></p>

<div id="vuecasts-components_101" v-cloak>
  <task>Go to the store</task>
  <task>Go to the bank</task>
  <task>Go to work</task>
</div>
