<h1>Vuecasts#home</h1>
<p>Find me in app/views/vuecasts/home.html.erb</p>

<%= link_to 'Source Code', 'https://github.com/Jelkster/vuecasts' %>

<ol>
  <li><%= link_to 'Vuecasts', vuecasts_index_path %></li>
  <li><%= link_to 'Vue Mastery', vuemastery_index_path %></li>
</ol>
