<h1>Vuecasts#index</h1>
<p>Find me in app/views/vuecasts/index.html.erb</p>

<%= link_to 'Source Code', 'https://github.com/Jelkster/vuecasts' %>

<ol>
  <li><%= link_to 'Basic Data Binding', vuecasts_basic_data_binding_path %></li>
  <li>Setup Vue Devtools</li>
  <li><%= link_to 'Lists', vuecasts_lists_path %></li>
</ol>
