<h1>Vuecasts#index</h1>
<p>Find me in app/views/vuecasts/index.html.erb</p>

<%= link_to nil, 'http://vuecasts.com' %>

<ol>
  <li><%= link_to 'Basic Data Binding', vuecasts_basic_data_binding_path %></li>
  <li>Setup Vue Devtools</li>
  <li><%= link_to 'Lists', vuecasts_lists_path %></li>
  <li><%= link_to 'Vue Event Listeners', vuecasts_vue_event_listeners_path %></li>
</ol>
